<h2>訂單清單</h2>

<table class="table">
	<tr>
		<th>目前狀態</th>
		<th>出貨狀態</th>
		<th>訂購人</th>
		<th>總價</th>
		<th>付款方式</th>
		<th>建立時間</th>
		<th>更新時間</th>
		<th>&nbsp;</th>
	</tr>
	<% @orders.each do |order| %>
		<tr>
			<td><span class="label label-info"><%= render_order_status(order) %></span></td>
			<td>
				<%= render_order_options_for_admin(order) %>
			</td>
			<td><%= order.user.email %></td>
			<td><%= order.total %> 元</td>
			<td><%= t("orders.payment_method.#{order.payment_method}") if order.paid? %> </td>
			<td><%= order.created_at %></td>
			<td><%= order.updated_at %></td>
			<td>
				<%= link_to("詳細資訊", admin_order_path(order)) %>
			</td>
		</tr>
	<% end %>
</table>
