<div class="cow">
  <div class="col-md-12">

    <h2>訂單明細 (<%= render_order_paid_state(@order) %>)</h2>

    <%= render "admin/orders/state_option", order: @order %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品資訊</th>
          <th>單價</th>
          <th>數量</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td> <%= order_item.product_name %> </td>
            <td> <%= order_item.price %> </td>
            <td> <%= order_item.quantity %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total cleanfix">
      <span class="pull-right">
        <span>金額總計 NTD <%= @order.total %> </span>
      </span>
    </div>

    <hr>

    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td colspan="2">訂購人</td>
        </tr>
        <tr>
          <td width="20%">Name</td>
          <td><%= @order_info.billing_name %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @order_info.billing_address %></td>
        </tr>
        <tr>
          <td>Telephone</td>
          <td>#</td>
        </tr>
        <tr>
          <td colspan="2">收件人</td>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= @order_info.shipping_name %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @order_info.shipping_address %></td>
        </tr>
        <tr>
          <td>Telephone</td>
          <td>#</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
