<h2>訂單明細</h2>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th class="col-md-10">商品明細</th>
				<th class="col-md-2">單價</th>
			</tr>
			<% @order_items.each do |order_item| %>
				<tr>
					<td>
						<%= order_item.product_name %>
					</td>
					<td>
						<%= order_item.price %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="col-md-12 text-right">
		總計 <%= @order.total %> 元
	</div>
</div>
<hr>
<h2>寄送資訊</h2>
<div class="row">
	<div class="col-md-12">
		<h3>訂購人資料</h3>
		<p><%= @order_info.billing_name %> - <%= @order_info.billing_address %></p>
		<h3>收件人資料</h3>
		<p><%= @order_info.shipping_name %> - <%= @order_info.shipping_address %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	</div>
</div>
