<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <div class="panel-heading">
      <h1>訂單明細</h1> 
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名稱</th>
          <th>購買數量</th>
          <th>單價</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.product_name %>
            </td>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.price %></td>
            <td><%= order_item.subtotal %></td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div id="product_price">
       <p>總金額 NT$ <%= @order.total %></p>
    </div>

     <hr>
    
    <div class="panel-heading">
        <h1> 寄送資訊 </h1>
    </div>

    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
           <td>訂購人</td>
        </tr>
        <tr>
          <td><%= @order_info.billing_name %> - <%= @order_info.billing_address %></td>
        </tr>
        <tr>
          <td>收貨人</td>
        </tr>
        <tr>
          <td><%= @order_info.shipping_name %> - <%= @order_info.shipping_address %></td>
        </tr>
      </tbody>
    </table>

    <% if !@order.is_paid? %>
      <div class="pull-right">
        <%= link_to("以信用卡付款", pay_with_credit_card_order_path(@order.token), class: "btn btn-lg btn-danger") %>
        <%= link_to("以 ATM 付款", "#", class: "btn btn-lg btn-danger") %>
      </div>
    <% else %>
      <p class="text-center">此訂單已完成付款</p>
    <% end %>
  </div>
</div>