<div class="row">
  <div class="col-md-12">

    <h2>Your Order</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Items</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.product_name %></td>
            <td><%= order_item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total: NT$<%= @order.total %>
      </span>
    </div>

    <hr>

    <h2>Buyer Information</h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Buyer
          </td>
        </tr>
        <tr>
          <td>
            <%= @order_info.billing_name %> - <%= @order_info.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Ship to...
          </td>
        </tr>
        <tr>
          <td>
            <%= @order_info.shipping_name %> - <%= @order_info.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <% if !@order.is_paid? %>
      <div class="pull-right">
        <%= link_to("Pay by Credit Card", pay_with_credit_card_order_path(@order.token), class: "btn btn-lg btn-danger") %>
        <%= link_to("Pay by ATM", "#", class: "btn btn-lg btn-danger") %>
      </div>
    <% else %>
      <p class="text-center">This order has been paid. Thank you.</p>
    <% end %>

  </div>
</div>
