<div class="panel-heading">
	<h1>購物明細</h1>	
</div>

<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<table class="table">
			<thead>
				<tr>
					<th>商品名稱</th>
					<th>單價</th>
					<th>數量</th>
					<th>可買量</th>
					<th>小計</th>
					<th>修改</th>	
				</tr>
				<% current_cart.cart_items.each do |item| %>
				<tr>
					<td><%= link_to(item.product.title, product_path(item.product)) %></td>
					<td><%= item.product.price %></td>
					<td>
						
						<%= simple_form_for item, url: cart_item_path(current_cart, item) do |f| %>
							<%= f.select :quantity, 1..item.product.quantity %>
							<%= f.button :submit, "更新", class: "btn btn-sm btn-default" %>
						<% end %>
					</td>
					<td><%= item.product.quantity %></td>
					<td><%= item.quantity * item.product.price %></td>
					<td>
						<%= link_to "刪除", cart_item_path(current_cart, item), method: :delete, data: { confirm: "確定要刪除嗎？" } , class: "btn btn-sm btn-default" %>
					</td>			
				</tr>
				<% end %>
				<tr>
					<td colspan="5"> </td>
					<td><%= link_to "全部清空", clean_carts_path, method: :delete, data: { confirm: "確定要全部清空嗎？" } , class: "btn btn-default" %></td>
					
				</tr>
			</thead>
		</table>

		<div id="product_price">
			<p>總金額 NT$ <%= render_cart_total_price(current_cart) %> </p>		
		</div>
		
		<%= link_to "確認結帳", checkout_carts_path, method: :post, class: 'btn btn-lg btn-default pull-right' %>
	</div>
</div>