<h2>購物車</h2>

<table class="table">
	<tr>
		<th>縮圖</th>
		<th>商品名稱</th>
		<th>單價</th>
		<th>數量</th>
		<th>小計</th>
		<th>刪除</th>
	</tr>
	<% current_cart.cart_items.each do |item| %>
		<tr>
			<td><%= render_product_photo(item.product.default_photo, :small) %></td>
			<td>
				<%= link_to(item.product.title, product_path(item.product)) %>
			</td>
			<td>
				<%= item.product.price %>
			</td>
			<td>
				<%= item.quantity %>
			</td>
			<td>
				<%= item.total %>
			</td>
			<td>
				<%= link_to("刪除", item_path(item), method: :delete, class: "btn btn-default", data: { confirm: "確定要移除這項商品？" }) %>
			</td>
		</tr>
	<% end %>
</table>

<div class="row">
	<div class="col-md-12 text-right">
		總計 <span><%= render_cart_total_price(current_cart) %></span> 元
	</div>
	<hr>
	<div class="col-md-12 text-right">
		<%= link_to("清空購物車", clean_carts_path, method: :delete, class: "btn btn-default", data: { confirm: "確定要清空購物車嗎"} ) %>
		<%= link_to("確認結帳", checkout_carts_path, method: :post, class: "btn btn-danger") %>
	</div>
</div>
