<%= simple_form_for [:admin, @product] do |f| %>

  <div class="form-group">
    <%= f.input :title, label: "標題" %>
    <%= f.input :description, label: "描述" %>
    <%= f.input :quantity, label: "數量" %>
    <%= f.input :price, label: "價錢" %>

    <% if @photo.image.present? %>
      <span>目前商品圖</span> <br>
      <%= image_tag(@photo.image.thumb.url) %>
    <% end %>

    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image , as: :file %>
    <% end %>
    
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>

<% end %>
