<tr>
  <td><%= product.id %></td>
  <td><%= render_product_image(product.default_image) %></td>
  <td><%= product.title %></td>
  <td><%= product.price %></td>
  <td><%= link_to "Edit", edit_admin_product_path(product) %></td>
</tr>
