<div class="col-md-4 col-md-offset-4">
<h2 class="text-center">編輯商品</h2>
<%= simple_form_for [:admin, @product] do |f| %>
<% #:admin是namespace %>
  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>
  <div class="form-actions">
  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
