<% # 註解: 新增產品 %>
<h2>編輯產品</h2>

<%= simple_form_for [:admin, @product] do |f| %>

    <div class="group" >
      <%= f.input :title, label: "產品名稱" %>
    </div>
    <div class="group" >
      <%= f.input :description, label: "描述" %>
    </div>
    <div class="group" >
      <%= f.input :quantity, label: "數量" %>
    </div>
    <div class="group" >
      <%= f.input :price, label: "價格" %>
    </div>
    <div class="form-group" >
      <%= f.simple_fields_for :photo do |c| %>
        <%= c.input :image, as: :file %>
      <% end %>
    </div>
    <br>
  <%= f.submit "Submit", data: { disable_with: "Submmitting.."} %>

<% end %>
