  <%= simple_form_for [:admin, @product] do |f| %>
  <div class="col-md-4 col-md-offset-4">
    <h1>修改商品</h1>
    <hr>

    <div class="form-group">
      <%= f.input :title, label: "標題" %>
      <%= f.input :description, label: "敘述", input_html: { class: "form-control"} %>
      <%= f.input :quantity, label: "數量" %>
      <%= f.input :price, label: "價錢" %>
    </div>

    <% if @photo.image.present? %>
      <span>目前商品圖</span><br>
      <%= image_tag(@photo.image.thumb.url) %>
    <% end %>

    <div class="form-group">
      <%= f.simple_fields_for :photo do |c| %>
        <%= c.input :image, as: :file %>
      <% end %>
    </div>

    <%= f.submit "Submit", :class => "btn btn-warning", data: { disable_with: "Submitting..." } %>

  <% end %>
  </div>
