<div class="col-md-12">
  <h1> Edit Product Data </h1>

  <hr>
  <%= simple_form_for [:admin, @product] do |f| %>
    <div class="form-group">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :quantity %>
      <%= f.input :price %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
</div>
