<h2>Edit Product</h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title, label: "標題" %>
  </div>

  <div class="group">
    <%= f.input :description, label: "敘述" %>
  </div>

  <div class="group">
    <%= f.input :quantity, label: "數量" %>
  </div>

  <div class="group">
    <%= f.input :price, label: "價錢" %>
  </div>

  <div class="gorm-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image, as: :file %>
    <% end %>

  </div>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
