<h2>編輯商品</h2>
<%= simple_form_for [:admin, @product] do |f| %>

<div class="group">
<%=f.input :title %>
</div>

<div class="group">
<%=f.input :description %>
</div>

<div class="group">
<%=f.input :quantity %>
</div>

<div class="group">
<%=f.input :price %>
</div>

<% if @product.photo.present? %>
<span>目前商品圖</span><br>
<%= image_tag(@product.photo.image.thumb.url, class: "thumbnail") %>
<%end %>

<div class="form-group">
<%= f.simple_fields_for :photo do |c| %>
<%= c.input :image, as: :file %>
<% end %>
</div>

<div class="form-actions">
<%= f.submit "Submit", class: "btn btn-primary", disable_with: "Submitting..." %>
</div>

<% end %>
