<div class="col-md-4 col-md-offset-4">
  <h1>修改產品</h1>

  <hr>
  <%= simple_form_for [:admin, @product] do |product| %>
    <div class="form-group">
      <%= product.input :title %>
      <%= product.input :description %>
      <%= product.input :quantity %>
      <%= product.input :price %>
      <%= product.input :photo %>
    </div>
    <%= product.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..." } %>
  <% end %>
</div>