<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Number</td>
        <td>Price</td>
        <td>Option</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td>#</td>
        <td> <%= link_to(product.title, admin_product_path(product)) %></td>
        <td> <%= product.description %></td>
        <td> <%= product.quantity %></td>
        <td> <%= product.price %></td>
        <td> <%= link_to("Edit", edit_admin_product_path(product),class: "btn btn-sm btn-default") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

