<h2>Product List</h2>
<%= link_to("Add Product", new_admin_product_path, { :class => 'btn btn-primary pull-right', :style=> 'margin-bottom: 20px;' }) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td>
          <% if product.photo.present? %>
            <%= link_to(image_tag(product.photo.image.thumb.url, class: 'thumbnail'), product_path(product), target: '_blank') %>
          <% else %>
            <%= image_tag('http://placehold.it/200x200&text=No Image', class: 'thumbnail') %>
          <% end %>
        </td>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product), class: 'btn btn-default btn-xs') %>
          <%= link_to("Delete", admin_product_path(product), class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
