<h2 class="text-center"> 產品列表 </h2>
<%= link_to("新增", new_admin_product_path, class: "btn btn-default") %>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>圖片</th>
      <th>名稱</th>
      <th>價格</th>
      <th>選項</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td> <%= product.id %>
      <td>
        <%= render_product_photo(product.default_photo) %>
      </td>

      <td>
        <%= product.title %>
      </td>

      <td>
        <%= product.price %>
      </td>

      <td> <%= link_to("編輯", edit_admin_product_path(product)) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
