<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Product Pic</td>
        <td>Name</td>
        <td>Price</td>
        <td>Options</td>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <% if product.photo.present? %>
          <td><%= image_tag(product.photo.image.thumb.url) %></td>
        <% end %>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td> <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%> </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
