<h2> 新增產品 </h2>

<%= simple_form_for [:admin, @product] do |f| %>

	<div class="group">
		<%= f.input :title %>
	</div>

	<div class="group">
		<%= f.input :description %>
	</div>

	<div class="group">
		<%= f.input :quantity %>
	</div>

	<div class="group">
		<%= f.input :price %>
	</div>

	<div class="form-group">
		<%= f.simple_fields_for :photo do |c| %>
			<%= c.input :image , as: :file %>
		<% end %>
	</div>

	<%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
