<%= simple_form_for [:admin, @product] do |f| %>

  <div class="form-group">
    <%= f.input :title, label: "標題" %>
  </div>

  <div class="form-group">
    <%= f.input :description, label: "描述", as: :text %>
  </div>

  <div class="form-group">
    <%= f.input :price, label: "價格", input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.input :quantity, label: "數量" %>
  </div>

  <div class="form-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image, as: :file %>
    <% end %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
