<h2>新增產品</h2>
<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title, class: "form-control" %>
  <%= f.input :description, class: "form-control" %>
  <%= f.input :quantity, class: "form-control" %>
  <%= f.input :price, class: "form-control" %>

  <hr>
  <%= f.submit "送出", disabled_with: 'Submiting...', class: "btn btn-default" %>

<% end %>
