<div class="row">
<div class="col-md-5">
<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title, label: '標題' %>
  <%= f.input :description, label: '敘述', as: :text  %>
  <%= f.input :quantity, label: '數量'  %>
  <%= f.input :price, label: '價錢'  %>
  <%= f.button :submit  %>
<% end %>
</div>
</div>
