<%= form_for [:admin, @product] do |f| %>
  <div class="form-group">
    <%= f.label("標題：") %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label("描述：") %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label("數量：") %>
    <%= f.text_field :quantity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label("價格：") %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <%= f.submit "送出", disabled_with: 'Submiting...', class: "btn btn-default" %>

<% end %>
