<h2> 新增產品 </h2>
 
<%= simple_form_for [:admin, @product ] , :html => { :class => "form form-horizontal"  } do |f| %>
 
  <div class="form-group">
  
    <div class="col-sm-10">
      <%= f.input :title %>
    </div>
  </div>
  
  <div class="form-group">
  
    <div class="col-sm-10">
      <%= f.input :description, :as => :text %>
    </div>
  </div>
  
  
  
  <div class="form-group">
  
    <div class="col-sm-1">
      <%= f.input :quantity %>
    </div>
  </div>
 
 
  <div class="form-group">
  
    <div class="col-sm-1">
      <%= f.input :price %>
    </div>
  </div>

    <%= f.simple_fields_for :photos do |c| %>
      <%= c.input :image , :as => :file %>
    <% end %>
 
 
  <div class="form-group">
    <%= f.submit "Submit", :class => "btn btn-default" , :disable_with => 'Submiting...' %>
  </div>
 
 
 
 
<% end %>