<%= simple_form_for [:admin, @product] do |f| %>

    <div class="form-group">
      <%= f.input :title, label: "標題", input_html: { class: "form-control"} %>
    </div>

    <div class="form-group" >
      <!--
      https://github.com/plataformatec/simple_form
      a column created with type :text in the database will use a textarea input by default
      -->
      <%= f.input :description, label: "敘述", as: :text, input_html: {class: "form-control"} %>
    </div>

    <div class="form-group" >
      <%= f.input :quantity, label: "數量", input_html: { class: "form-control"} %>
    </div>

    <div class="form-group" >
      <%= f.input :price, label: "價錢", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group" >
      <%= f.simple_fields_for :photo do |c| %>
        <%= c.input :image, label: "圖片", as: :file %>
      <% end %>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..." } %>

<% end %>
