<h2>新增商品</h2>
<%= form_for [:admin, @product] do |f| %>

<div class="group">
<%= f.label "標題" %>
<%= f.text_field :title %>
</div>

<div class="group">
<%= f.label "敘述" %>
<%= f.text_area :description %>
</div>

<div class="group">
<%= f.label "數量" %>
<%= f.text_field :quantity %>
</div>

<div class="group">
<%= f.label "價格" %>
<%= f.text_field :price %>
</div>

<div class="form-actions">
<%= f.submit "Submit", class: "btn btn-primary", disable_with: "Submitting..." %>
</div>

<% end %>
