<div class="col-md-12">
  <div class="product">
    <%= link_to("Edit", edit_admin_product_path(@product), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @product.title %></h2>
  <p>商品敘述: <%= @product.description %></p>
  <p>數量: <%= @product.quantity %></p>
  <p>價格: <%= @product.price %></p>
</div>