

<ul>
	<li> <%= @product.title %></li>
	<li> <%= @product.description %> </li>
	<li> <%= @product.quantity %> </li>
	<li> <%= @product.price %> </li>
	<li> <%= image_tag(@product.photo.image.medium.url) if !@product.photo.nil? %></li>

</ul>