<h2>admin:檢視產品</h2>
<div class="row">
  <div class="col-md-5">
    <% if @product.photos.count > 0 %>
      <%= image_tag(@product.default_photo.image.medium.url, class: "medium") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=本產品無圖片", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-7">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p><%= @product.description %></p>
    </div>
    <div>數量：<%= @product.quantity %></div>
    <div class="product-price"> $ <%= @product.price %></div>
    <div class="pull-right">
      <%= link_to("加入購物車", "#", :class =>"btn btn-primary btn-lg btn-danger") %>
    </div>
  </div>
</div>