<h2>使用者列表</h2>
<table class="table table-borded">
<thead>
<tr>
<th>#</th>
<th>Email</th>
<th>權限</th>
<th>功能</th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
<td><%= user.id %></td>
<td><%= user.email %></td>
<td><!--權限(待處理)-->
<% if user.is_admin? %>
<%= "管理" %>
<% else %>
<%= "一般使用者" %>
<% end %>
</td>
<td>
<% if !user.is_admin? %>
<%= link_to("提升為管理員", to_admin_admin_user_path(user),method: :post, class: "btn btn-primary") %>
<% else %>
<%= link_to("降為一般用戶", to_normal_admin_user_path(user),method: :post, class: "btn btn-info btn-sm") %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
