<div class="row">

<% products.each do |product| %>

  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <%= link_to product_path(product) do %>
        <%= render_product_photo(product.default_photo) %>
      <% end %>
      <div class="caption">
          <h4 class="pull-right">$<%= product.price %></h4>
          <h4><a href="#"><%= product.title %></a>
          </h4>
          <p><%= product.description %></p>
      </div>
      <div class="ratings">
          <p class="pull-right">15 reviews</p>
          <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
          </p>
      </div>
  </div>
</div>
<% end %>

</div>
