<h2>產品列表</h2>
<div class="row">
	<table class="table">
		<% @products.each do |product| %>
			<tr>
				<td class="col-md-2">
					<%= render_product_photo(product.default_photo, :medium) %>
				</td>
				<td class="col-md-10">
					<h3><%= link_to(product.title, product_path(product)) %></h3>
					<p><%= product.description %></p>
					<div class="row text-right">
						<span class="product-price" id="products-list-price">$ <%= product.price.to_i %></span>
					</div>
					<div class="row text-right">
						<hr>
						<%= link_to("加入購物車", "#", class: "btn btn-danger") %>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>
