
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">

      <%= link_to product_path(product) do %>
        <% if product.photo.present? %>
          <%= image_tag(product.photo.image.thumb.url , class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.price %> $ <%= product.price %>
    </div>
  <% end %>

<%# cookies[current_user.email] = JSON.generate ({"cart_id" => 1}) %>
<%# JSON.parse(cookies[current_user.email])["cart_id"] %>
<%# cookies[:test] = JSON.generate ({"admin" => {"cart_id" => "1"}}) %>
<%# hash = JSON.parse(cookies[:test]) %>
<%# hash["admin"]["cart_id"] %>

</div>
