<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3 text-center">
      <%= link_to product_path(product) do %>
        <% if product.photo.present? %>
          <%= image_tag product.photo.image.thumb.url, class: 'thumbnail' %>
        <% else %>
          <%= image_tag "http://placehold.it/200x200&text=No Pic", class: 'thumbnail' %>
        <% end %>
      <% end %>
      <p class="product-info">
        <%= product.title.capitalize %>
        $ <%= product.price %>
      </p>
    </div>
  <% end %>
</div>