<div class="row">
  <div class="col-md-4">
    <%= image_tag(@product.default_photo.image.medium.url) %>
  </div>

  <div class="col-md-8">
    <h2> <%= @product.title %> </h2>
    <p> <%= @product.description %> </p>

    <p>數量 : <%= @product.quantity %> </p>
    <p>$ <%= @product.price %> </p>

    <div class="pull-right">
      <%= link_to("加入購物車", "#", :class => "btn btn-primary btn-lg btn-danger") %>
     </div>
  </div>

</div>