<% if current_user.admin? %>
	<div class="row text-right">
		<%= link_to("編輯此產品", edit_admin_product_path , class: "btn btn-primary") %>
	</div>
<% end %>
<div class="row">
	<div class="col-md-4" id="product-image">
		<div class="col-md-12" id="product-image">
			<%= image_tag(@product.photos.first.image_url.to_s, width: "100%") %>
			<hr>
		</div>
		<div class="col-md-12" id="product-image">
			<% @product.photos.each do |photo| %>
				<%= image_tag(photo.image_url(:small).to_s, width: "25%") %>
			<% end %>
		</div>
	</div>
	<div class="col-md-8" id="product-content">
		<h2><%= @product.title %></h2>
		<p id="product-description"><%= @product.description %></p>
		<span>數量：<%= @product.quantity %></span>
		<br>
		<span>$ <%= @product.price %></span>
		<div class="row text-right">
			<%= link_to("加入購物車", "#", class: "btn btn-danger") %>
		</div>
	</div>
</div>
