<div class="row">
  <div class="col-md-6">
    <% if @product.photo.present? %>
      <%= image_tag(@product.photo.image.medium.url, class: 'thumbnail') %>
    <% else %>
      <%= image_tag('http://placehold.it/400x400&text=No Image', class: 'thumbnail') %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="width: 100%;">
      <p><%= @product.description %></p>
    </div>
    <div>Stock: <%= @product.quantity %></div>
    <div class="product-price">Price: $ <%= @product.price %></div>
    <div class="pull-right">
      <% if @product.quantity > 0 %>
        <%= form_for @product, url: add_to_cart_product_path(@product), method: :post do |f| %>
          <%= f.select :quantity, 1..@product.quantity, selected: 1 %>
          <%= f.submit "Add to Cart", class: 'btn btn-danger btn-lg', data: { disable_with: 'Submitting...' } %>
        <% end %>
      <% else %>
        <%= link_to("Sold Out", '#', class: 'btn btn-default btn-lg') %>
      <% end %>
    </div>
  </div>
</div>
