<div class="row">
  <div class="col-md-6">
    <% if @product.photo.present? %>
          <%= image_tag(@product.photo.image.medium.url) %>
        <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
  </div>
  <div class="col-md-6">
    <h3><%= @product.title %></h3>
    <div style="height:100px">
      <p><%= @product.description %></p>
    </div>
      <div>
        數量 ： <%= @product.quantity %>
      </div>
    <div class="price">
      $ ： <%= @product.price %>
    </div>
    <br>
    <div class="pull-right">
      <% if @product.quantity > 0 %>
      <%= link_to "加入購物車",  add_to_cart_product_path(@product), method: :post, class: "btn btn-danger" %>
      <% else %>
      <p style="font-size: 24px; text-shadow: -1px -2px 7px #111111"><b>已銷售一空，無法購買</b></p>
      <% end %>
    </div>
  </div>
</div>
