<nav class="navbar navbar-default">
   <div class="container">
      <div class="navbar-brand"><%= link_to "YS Baker", root_path  %></div>
        <ul class="nav navbar-nav navbar-left">  
          <li><%= link_to "產品列表", products_path %></li>
          
          <% if current_user && current_user.is_admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">後台管理</a>
            <ul class="dropdown-menu">
              <li><%= link_to "商品清單", admin_products_path %></li>
              <li><%= link_to "新增商品", new_admin_product_path %></li>
            </ul>
          </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "#" do  %>
              <i class="fa fa-shopping-cart"></i> (0)
            <% end %>
          </li>
          <% if !current_user %>
            <li><%= link_to("註冊", new_user_registration_path) %></li>
            <li><%= link_to("登入", new_user_session_path) %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <%= current_user.name %> <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
              <ul class="dropdown-menu">
        					<li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li> 
  	              <li><a href="#">Profile</a></li>
  	              <li class="divider"></li>
  	              <li><a href="#">About</a></li>
               </ul>
            </li>
          <% end %>
        </ul>
    </div>
</nav><!-- /.navbar -->