<!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<nav class="orange" role="navigation">
  <div class="container-fluid">
    <div class="nav-wrapper container">
     <a id="logo-container" href="/" class="brand-logo">SSBuy</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to("關於本站", "/pages/about") %>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
       <li>
         <%= link_to carts_path do  %>
           購物車 <i class="fa fa-shopping-cart"> </i> ( <%= render_cart_items_count(current_cart) %> )  NT$ <%= render_cart_total_price(current_cart) %>
         <% end %>
       </li>
        <% if !current_user %>
          <li> <%= link_to("註冊", new_user_registration_path) %> </li>
          <li> <%= link_to("登入", new_user_session_path) %> </li>
        </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hello!, <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

             <% if current_user.admin? %>
               <li>
                 <%= link_to("Admin 選單", admin_products_path ) %>
               </li>
             <% end %>
             <li>
               <%= link_to("個人訂單列表", account_orders_path ) %>
             </li>
             <li>
               <%= link_to("帳戶設定", edit_user_registration_path) %> </li>
             </li>
              <li>
                <%= link_to("登出", destroy_user_session_path, method: :delete ) %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>


      <!-- nav_for_mobile -->
    <%= render "common/navbar_mobile" %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
