<!DOCTYPE html>
<html lang="en">
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "common/navbar" %>
	<div class="container" id="main-container">
		<%= notice_message %>
		<%= yield %>
	</div>

</body>
</html>
