<!DOCTYPE html>
<html>
<head>
  <title>YS.Baker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<%= render 'common/navbar' %>
<%= notice_message %>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
